<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Web page CSS -->
  <link rel="stylesheet" href="assets/css/styles.css" />

  <!-- Simple lightbox CSS -->
  <link rel="stylesheet" href="assets/css/simple-lightbox.min.css" />

  <title>DTT-Arneplant API | Home</title>
</head>

<body>
  <nav>
    <a href="#" class="logo">
      <h1>
        <span class="jab">DTT-Arneplant-API</span>
      </h1>
    </a>
  </nav>

  <!-- Hero section -->
  <section class="hero">
    <div class="intro-text">
      <h1>
        <span class="connecting"> Welcome To </span> <br />
        <span class="hear"> DTT-Arneplant Scheduling API</span>
      </h1>
      <p>
        The current API connects all the micro-services together.
      </p>
      <a class="btn blue" href="/docs">API Docs</a>
    </div>
  </section>

  <!-- Ion icons CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <!-- Simple lightbox -->
  <script src="assets/js/simple-lightbox.min.js"></script>
  <script>
    var lightbox = new SimpleLightbox(".stars-gallery a");
  </script>
</body>

</html>