<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Loding page CSS -->
    <link rel="stylesheet" href="assets/css/settings.css" />
    <title>DTT-Arneplant API | Settings</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
    <div class="main-block">
        <form action="/settings" method="post">
            <h1>Micro Services Settings</h1>
            <fieldset>
                <legend>
                    <h3>Data Processing Service</h3>
                </legend>
                <div class="account-details">
                    <div><label>Tasks URL*</label><input type="hidden" name="Taurl" pattern="https://.*" required value={{ data_p['tasks_url'] }}></div>
                    <div><label>Tools URL*</label><input type="hidden" name="Tourl" pattern="https://.*" required value={{ data_p['tools_url'] }}></div>
                    <div><label>Machines URL*</label><input type="hidden" name="Maurl" pattern="https://.*" required value={{ data_p['machines_url'] }}></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h3>Solution Generation Service</h3>
                </legend>
                <div class="account-details">
                    <div><label>Population Size Multipler*</label><input type="number" name="pom" min="1" max="3" required value={{ data_so['pop_size_mul'] }}></div>
                    <div><label>Solution Size*</label><input type="number" name="sols" min="2" max="5" required value={{ data_so['sol_size'] }}></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h3>Scheduling Generation Service</h3>
                </legend>
                <div class="account-details">
                    <div><label>Generations*</label><input type="number" name="gen" min="1" max="10" required value={{ data_sc['generations'] }}></div>
                    <div><label>Mutation Rate*</label><input type="number" name="mutrate" min="0.0" max="1.0" step="0.1" required value={{ data_sc['mutation_rate'] }}></div>
                    <div><label>Mutation Flip*</label><input type="number" name="mutflip" min="0.0" max="1.0" step="0.05" required value={{ data_sc['mutation_flip'] }}></div>
                    <div><label>System Date*</label><input type="datetime-local" name="sysdatetime" value={{ data_sc['sys_date'] }}></div>
                    <div>
                        <label>Schedul All Machines*</label> 
                        <select name="schedulallflag" required>
                            <option value={{ data_sc['flag_all'] }}>{{ data_sc['flag_all'] }}</option>
                            <option value="yes">yes</option>
                        </select>
                    </div>
                    <div><label>Machine Count*</label><input type="number" name="machcount" min="1" required value={{ data_sc['machine_count'] }}></div>
                </div>
            </fieldset>
            <button type="submit">Done</button>
        </form>
    </div> 
</body>
</html>

